---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyBhgvNZ-ic2z9q1-6v3bfblaigSeh_iayg&maxResults=1&part=snippet&q=Japan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "I6u_uy-s09NQaEUZKL5kSEL5g-0",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 64,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "LgsRe2bm9_9mP9V31AEjaivclfg",
              "id": {
                "kind": "youtube#video",
                "videoId": "74g8q804ukA"
              },
              "snippet": {
                "publishedAt": "2021-06-19T05:42:06Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Japan",
                "description": "Sources: \"A Concise History of Japan\" (2015) by Brett L. Walker. Cambridge University Press, UK \"A Brief History of Japan\" (2017) ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/74g8q804ukA/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/74g8q804ukA/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/74g8q804ukA/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-06-19T05:42:06Z"
              }
            }
          ]
        }
  recorded_at: Mon, 16 Jan 2023 17:30:03 GMT
recorded_with: VCR 6.1.0
